*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:fantasy;
}


.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:black;
position:fixed;
top:0;
left:0;
width:100%;
z-index:1000;
}

/* .admin-btn{
background:rgb(255, 255, 255);
color:rgb(0, 0, 0);
padding:10px 20px;
border-radius:6px;
text-decoration:none;
font-size:16px;
font-weight:100;
transition:0.3s;
}

.admin-btn:hover{
background:#ffffff;
box-shadow:
0 0 10px white,
0 0 1px white,
0 0 2px rgba(255,255,255,0.4);
} */

.logo{
font-size:40px;
color:white;
}

.nav-links{
list-style:none;
display:flex;
gap:40px;
align-items:center;
font-size:18px;
}

.nav-links a{
position:relative;
text-decoration:none;
color:white;
padding-bottom:5px;
}


.nav-links a::after{
content:"";
position:absolute;
width:0;
height:2px;
left:0;
bottom:0;
background:white;
transition:width 0.3s ease;
}

.nav-links a:hover::after{
width:100%;
}


.dropdown-menu{
background:black;
border:none;
margin-top:10px;
}

.dropdown-item{
color:white;
font-size:14px;
}

.dropdown-item:hover{
background:#222;
color:white;
}

.dropdown-toggle::after{
display:none;
}


section{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:120px 10%;
text-align:center;
}

#home{
background:linear-gradient(to right,#000000,#1a1a1a,#1b1a1a);
color:white;
}

.title{
font-size:55px;
color:red;
margin-bottom:10px;
}

.subtitle{
font-size:22px;
color:white;

}

.presubtitle{
font-size:26px;
margin-top:85px;
}

.image-row{
display:flex;
justify-content:center;
gap:40px;
margin-top:40px;
flex-wrap:wrap;
}

.img-card{
width:220px;
height:260px;
overflow:hidden;
border-radius:10px;
transition:0.4s;
}

.img-card img{
width:100%;
height:100%;
object-fit:cover;
object-position:center 85%;
transition:0.4s;
}

.img-card:hover img{
transform:scale(1.1);
}

.img-card:hover{
box-shadow:
0 0 10px white,
0 0 20px white,
0 0 40px rgba(255,255,255,0.8);
}


#about{
background:#d1d1d1;
color:black;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.about-title{
font-size:55px;
margin-bottom:30px;
}

.about-text{
max-width:900px;
margin:auto;
margin-bottom:50px;
font-size:24px;
line-height:1.6;
}

.about-features{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.feature-card{
background:#1a1a1a;
padding:30px;
width:300px;
border-radius:10px;
color:white;
transition:0.3s;
}

.feature-card:hover{
transform:translateY(-10px);
box-shadow:
0 0 10px rgb(51, 49, 49),
0 0 20px rgb(22, 22, 22),
0 0 40px rgba(0, 0, 0, 0.8);
}



#services{
background:linear-gradient(to right,#000000,#1a1a1a,#1b1a1a);
padding:120px 10%;
text-align:center;
}

.services-title{
font-size:50px;
margin-bottom:60px;
}

.services-container{
display:flex;
justify-content:center;
gap:40px;
flex-wrap:wrap;
}

.service-card{
background:#ffffff;
color:rgb(0, 0, 0);
padding:30px;
width:260px;
border-radius:10px;
transition:0.3s;
}

.service-card:hover{
transform:translateY(-10px);
box-shadow:
0 0 10px white,
0 0 10px white,
0 0 30px rgba(255,255,255,0.8);
}


#ourteam{
background:#d1d1d1;
padding:120px 0;
text-align:center;
overflow:hidden;
}

.team-title{
font-size:50px;
margin-bottom:60px;
}


.trainer-slider{
width:100%;
overflow:visible;
position:relative;
}


.trainer-track{
display:flex;
gap:40px;
width:max-content;
animation:scrollTrainer 20s linear infinite;
}


.trainer-card{
background:#1a1a1a;
color:white;
width:220px;
border-radius:12px;
overflow:hidden;
transition:0.3s;
}

.trainer-card img{
width:100%;
height:260px;
object-fit:cover;
}

.trainer-card h3{
margin-top:15px;
}

.trainer-card p{
color:#bbb;
margin-bottom:20px;
}

.trainer-card:hover{
transform:translateY(-10px);
box-shadow:
0 0 10px rgb(51, 49, 49),
0 0 20px rgb(22, 22, 22),
0 0 40px rgba(0, 0, 0, 0.8);
}

@keyframes scrollTrainer{
0%{
transform:translateX(0);
}
100%{
transform:translateX(-50%);
}
}


#contact{
background:#111;
color:white;
padding:120px 10%;
text-align:center;
}

.contact-title{
font-size:50px;
margin-bottom:60px;
}

.contact-container{
display:flex;
justify-content:center;
gap:80px;
flex-wrap:wrap;
}

.contact-info{
font-size:18px;
line-height:2;
}

.contact-form form{
display:flex;
flex-direction:column;
gap:15px;
width:300px;
}

.contact-form input,
.contact-form textarea{
padding:12px;
border:none;
border-radius:6px;
outline:none;
}

.contact-form textarea{
height:120px;
resize:none;
}

.contact-form button{
padding:12px;
background:red;
border:none;
color:white;
font-weight:100;
cursor:pointer;
transition:0.3s;
}

.contact-form button:hover{
background:#cc0000;
box-shadow:
0 0 10px red,
0 0 10px rgba(255,0,0,0.6);
}

.footer{
background:black;
color:white;
padding:60px 10% 20px;
}

.footer-container{
display:flex;
justify-content:space-between;
flex-wrap:wrap;
gap:40px;
}

.footer h2{
margin-bottom:15px;
}

.footer h3{
margin-bottom:15px;
}

.footer-about{
max-width:250px;
}

.footer-links ul{
list-style:none;
}

.footer-links ul li{
margin-bottom:8px;
}

.footer-links a{
color:white;
text-decoration:none;
transition:0.3s;
}

.footer-links a:hover{
color:red;
}

.footer-contact p{
margin-bottom:8px;
}

.social-icons{
display:flex;
gap:15px;
font-size:24px;
}

.social-icons a{
color:white;
transition:0.3s;
}

.social-icons a:hover{
color:red;
transform:scale(1.2);
}

.footer-bottom{
text-align:center;
margin-top:40px;
border-top:1px solid #333;
padding-top:15px;
font-size:14px;
}